@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

.cookie-static {
    @extend %universal-component-layout;
}

$scale-size: 30%;
$edge-distance: 5%;
$text-area-width: 28.8125rem;
$text-right: 35%;
$text-top: 20%;
$text-botton: 60%;
$solution-text-right: 50%;

.cookie-bar {
    position: fixed;
    bottom: 0%;
    width: 60%;
    height: 6%;
    left: 20%;
    background-color: #0D0830;
    z-index: 99;
}

.cookie-rocket {
    position: fixed;
    bottom: 0%;
    height: 6rem;
    width: 6rem;
    background-repeat: no-repeat;

}

a {
    color: #ffffff;
}

a:hover {
    color: #34639B;
}

.close-button {
    position: fixed;
    right: 20%;
    bottom: 4.5%
}

.close-button:hover {
    cursor: pointer;
}

/* THIS IS SPECIFIC FOR IPADS */
@media only screen and (max-height: 930px) {
    .cookie-bar {
        padding-bottom: 2.25rem;
    }

    .close-button {
        bottom: 8%;
    }
}

/*THIS IS SPECIFIC FOR THE IPHONE 8 PLUS  IN PORTRAIT MODE*/
@media only screen and (max-width: 480px) {
    .cookie-static {
        display: none;
    }
}

/* THIS IS SPECIFIC FOR THE IPHONE X */
@media only screen and (max-width: 376px) {
    .cookie-static {
        display: none;
    }
}

/* THIS IS SPECIFIC FOR THE IPHONE X  IN LANDSCAPE MODE*/
@media only screen and (max-width: 813px) and (max-height: 376px) {
    .cookie-static {
        display: none;
    }
}
/*THIS IS SPECIFIC TO THE IPHONE 6,7,8 PLUS IN LANDSCAPE MODE */
@media only screen and (max-width: 780px) and (max-height: 450px) and (min-width: 700px) and (min-height: 350px) {
    .cookie-static{
        display: none;
    }
}