@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

.Feature {
    @extend %universal-component-layout;
}

$scale-size: 30%;
$edge-distance: 5%;
$text-area-width: 28.8125rem;
$text-right: 35%;
$text-top: 20%;
$text-botton: 60%;
$solution-text-right: 50%;

.combined-web-img {
    height: auto;
    width: $scale-size - 10;
    position: absolute;
    right: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    opacity: 0;
}

.landing-page-image {
    height: auto;
    width: $scale-size;
    position: fixed;
    right: $edge-distance;
    top: 20%;
    display: none;
}

.emily-twitter-photo {
    height: auto;
    width: $scale-size;
    position: fixed;
    left: $edge-distance;
    top: 20%;
    opacity: 0;
}

.feature-title {
    color: #ffffff !important;
    text-decoration: underline;
    z-index: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    position: fixed;
    display: inline-block;
    top: 2rem;
    right: $text-right;

}

.the-problem-header {
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top;
    z-index: 99;
    padding-bottom: 2%;
}

.the-problem-text {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top + 2;
    z-index: 99;
}

.the-solution-header {
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $solution-text-right;
    top: $text-botton;
    z-index: 99;
    padding-bottom: 2%;
}

.the-solution-text {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $solution-text-right;
    top: $text-botton + 2;
    z-index: 99;
}

.go-to-website-button a {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: fixed;
    right: 35%;
    top: $text-botton;
    width: 12rem;
    height: 3rem;
    z-index: 98;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.go-btn-text {
    margin-top: 1rem;
}

.go-to-website-button:hover a {
    border-color: #221563;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.projects-container {
    position: fixed;
    width: 52%;
    height: 20%;
    bottom: 25%;
    left: 50%;
    margin-bottom: -10%;
    /* Negative half of height. */
    margin-left: -25%;
}

/*DO NOT TOUCH!!!!! UNLESS MAKING CSS RESPONSIVE */
.lulu-logo {
    position: absolute;
    height: auto;
    width: 14rem;
    left: -0.5rem;
    top: 20%;
}

.kroger-logo {
    position: absolute;
    height: auto;
    width: 8rem;
    left: 42.5%;
    top: 0rem;
}

.sphero-logo {
    position: absolute;
    height: auto;
    width: 12rem;
    right: 0rem;
    top: 20%;
}

/*IPAD PRO RESPONSIVE CSS */
@media only screen and (max-width: 1350px) {
    .go-to-website-button a {
        right: 32%;
        margin-left: 10%;
    }

    .the-problem-text {
        width: 20rem;
    }

    .the-solution-text {
        width: 20rem;
        z-index: 0;
    }
}

@media only screen and (max-width: 1350px) and (max-height: 850px) {
    .the-solution-text {
        top: 52%;
    }

    .the-solution-header {
        top: 52% - 2;
    }
}

@media only screen and (max-width: 1025px) and (max-height: 1400px) {
    .the-solution-text {
        right: 40%;
    }

    .go-to-website-button a {
        right: 40%;
        top: 50%;
    }

    .combined-web-img {
        margin-top: 20%;
        right: 10%;
    }
}

@media only screen and (max-width: 1400px) and (max-height: 1025px) {
    .the-solution-text {
        right: 40%;
    }

    .go-to-website-button a {
        right: 40%;
        top: 50%;
    }

    .combined-web-img {
        margin-top: 10%;
        right: 10%;
    }
}

/*CONVENTIONAL IPAD RESPONSIVE CSS */
@media only screen and (max-width: 770px) and (max-height: 1050px) {
    .the-solution-text {
        right: 33%;
    }

    .the-solution-header {
        right: 33%;
    }

    .go-to-website-button a {
        right: 33%;
        top: 50%;
    }

    .the-problem-header {
        right: 33%;
    }

    .the-problem-text {
        right: 33%;
        width: 16rem;
    }

    .combined-web-img {
        padding-top: 5%;
    }
}

@media only screen and (max-width: 1050px) and (max-height: 770px) {
    .go-to-website-button a {
        right: 75%;
    }
}

/*IPHONE X AND XS RESPONSIVE CSS */
@media only screen and (max-width: 450px) and (max-height: 825px) {
    .feature-title {
        font-size: 1.5rem;
        top: 8%;
        right: 25%;
    }

    .emily-twitter-photo {
        display: none;
    }

    .the-problem-text {
        width: 50%;
        right: 45%;
    }

    .the-problem-header {
        font-size: 1rem;
        right: 45%;
    }

    .the-solution-text {
        width: 50%;
        right: 45%;
        top: 40%;
    }

    .the-solution-header {
        font-size: 1rem;
        right: 45%;
        top: 40%-2;
    }

    .go-to-website-button a {
        transform: scale(0.7);
        top: 60%;
        right: 45%;
    }

    .combined-web-img {
        width: 7.75rem;
        margin-top: 9rem;
    }
}

/*IPHONE 8+*/
@media only screen and (max-width: 850px) and (max-height: 575px) {
    .feature-title {
        font-size: 1.5rem;
    }

    .the-solution-header {
        font-size: 1rem;
    }

    .the-solution-text {
        width: 15rem;
    }

    .the-problem-header {
        font-size: 1rem;
    }

    .the-problem-text {
        width: 15rem;
    }

    .go-to-website-button a {
        transform: scale(0.7);
        top: 76%;
        right: 36.5%;
    }
}

/*IPHONE 6,7,8*/
@media only screen and (max-width: 420px) and (max-height: 800px) and (min-width: 380px) {
    .feature-title {
        top: 4rem;
    }

    .the-problem-header {
        top: 7rem;
    }

    .the-problem-text {
        top: 8rem;
    }

    .the-solution-header {
        top: 17rem;
    }

    .the-solution-text {
        top: 18rem;
    }

    .go-to-website-button a {
        transform: scale(0.7);
        top: 11rem;
        right: 36.5%;
    }
}

/*IPHONE 6,7,8 WITH BROWSER WINDOW OPEN*/
@media only screen and (max-width: 376px) and (max-height: 600px) and (min-width: 300px) and (min-height: 450px) {
    .combined-web-img {
        width: 6rem;
        margin-top: 5rem;
    }

    .the-problem-header {
        right: 9rem;
    }

    .the-problem-text {
        right: 9rem;
        width: 14rem;
    }

    .the-solution-header {
        right: 9rem;
    }

    .the-solution-text {
        right: 9rem;
        width: 14rem;
    }

    .go-to-website-button a {
        transform: scale(0.6);
        top: 12rem;
    }
}

/*IPHONE 6,7,8*/
@media only screen and (max-width: 376px) and (max-height: 668px) and(min-width: 330px) {
    .go-to-website-button a {
        transform: scale(0.7);
        top: 70%;
        right: 36.5%;
    }
}

/*IPHONE 5, SE*/
@media only screen and (max-width: 330px) and (max-height: 570px) {
    .the-problem-header {
        top: 6.25rem;
    }

    .the-problem-text {
        width: 10rem;
        top: 7rem;
    }

    .the-solution-header {
        top: 14.25rem;
    }

    .the-solution-text {
        top: 15rem;
        width: 10rem;
    }

    .combined-web-img {
        width: 6rem;
        margin-top: 6.25rem;
    }

    .go-to-website-button a {
        transform: scale(0.6);
        top: 85%;
        right: 20%;
    }
}

@media only screen and (max-width: 570px) and (max-height: 500px) and (min-height: 200px) {
    .go-to-website-button a {
        transform: scale(0.6);
        top: 80%;
        right: 30%;
    }

    .emily-twitter-photo {
        display: none;
    }
}

/*GOOGLE PIXEL2 XL SPECIFIC SCALING */
@media only screen and (max-width: 415px) and (max-height: 825px) and (min-height: 750px) {
    .emily-twitter-photo {
        display: none;
    }

    .go-to-website-button a {
        transform: scale(0.6);
        top: 80%;
        right: 30%;
    }

    .the-solution-header {
        top: 21rem;
    }

    .the-solution-text {
        top: 22rem;
    }

}

/* NEXUS 7 SPECIFIC SCALING FOR CSS */
@media only screen and (max-width: 610px) and (max-height: 960px) and (min-height: 750px) and (min-width: 510px) {
    .emily-twitter-photo {
        display: none;
    }

    .feature-title {
        font-size: 1.5rem;
        top: 8%;
        right: 25%;
    }

    .emily-twitter-photo {
        display: none;
    }

    .the-problem-text {
        width: 50%;
        right: 45%;
    }

    .the-problem-header {
        font-size: 1rem;
        right: 45%;
    }

    .the-solution-text {
        width: 50%;
        right: 45%;
        top: 40%;
    }

    .the-solution-header {
        font-size: 1rem;
        right: 45%;
        top: 40%-2;
    }

    .go-to-website-button a {
        transform: scale(0.7);
        top: 60%;
        right: 45%;
    }

    .combined-web-img {
        width: 11rem;
        margin-top: 9rem;
    }
}