@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

.Home{
  @extend %universal-component-layout;
}
.content{
 text-align: center
}
.line-1{ 
    display: inline-block;
    width: 30rem;
    margin-block-start: 6rem;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}

/* Animation */
.anim-typewriter{
  cursor: none;
  animation: typewriter 4s steps(60) 1s 1 normal both,
             blinkTextCursor 500ms steps(60) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 30rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.hidden-base-64{
  transform: rotate(-90deg);
  position: fixed;
  left: 16%;
  top: 26%;
  font-size: 0.8rem;
  cursor: vertical-text;
}
.Policy-Redirect a{
  position: fixed;
  bottom: 2%;
  right: 10%;
  color: #ffffff;
}
.Policy-Redirect:focus{
  text-decoration: none;

}
.Policy-Redirect a:hover{
  color: #450092;
}
/*CSSTransition */