@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';
.Home-Image {

    color: #ffffff !important;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}

.Home-Image-load {
    height: max-content;
    background-color: #04040c;
    color: #ffffff !important;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    align-content: center;
    margin-top: 10rem;
    cursor: default;
}

.landing-img {
    background-image: url(../assets/landing_page.svg);
    background-position: center;
    position: absolute;
    margin-block-start: 7rem;
    text-align: center;
    align-self: center;
    width: 55%;
    height: 70%;
    cursor: default;
    background-repeat: no-repeat;
    background-size: contain;
}

.generating-text {
    cursor: none;
    text-decoration: underline;
    text-align: center;
}
@media only screen and (max-width: 1080px) and (min-height:770px){
    .landing-img{
        transform: scale(1.2);
    }
}
@media (max-aspect-ratio: 3/4){
    .landing-img{
        background-image: url(../assets/landing_page_responsive_iPadProV2.svg);
    }
}
@media only screen and (max-width: 370px){
    .landing-img{
        transform: scale(1.4);
    }
}
@media (max-aspect-ratio: 6/9){
    .landing-img{
        transform: scale(1.4);
    }
}