@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

.Home {
  .Home {
    @extend %universal-component-layout;
    height: max-content;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-left {
    float: left;
    width: calc(100%/4);
    height: 30rem;
  }

  .col-middle {
    float: left;
    width: calc(100%/2);
    margin: 0;
    align-content: center;
    background-position: center;
    height: 100%;
  }

  .col-right {
    width: calc(100%/4);
    height: 1rem;
  }

  .line-1 {
    position: absolute;
    z-index: 30;
    display: inline-block;
    width: 30rem;
    margin-block-start: 6rem;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /*@media only screen and (max-width: 570px) and (max-height: 350px){
  .line-1{
    margin-block-start: 4rem;
    position: absolute;
  }
}*/
  /* Animation */
  .anim-typewriter {

    cursor: none;
    animation: typewriter 4s steps(60) 1s 1 normal both,
      blinkTextCursor 500ms steps(60) infinite normal;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 30rem;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, .75);
    }

    to {
      border-right-color: transparent;
    }
  }

  .hidden-base-64 {
    transform: rotate(-90deg);
    position: inherit;
    font-size: 0.8rem;
    cursor: vertical-text;
    margin-top: 20%;
  }

  .Policy-Redirect a {
    position: absolute;
    bottom: 2%;
    right: 10%;
    color: #ffffff;
  }

  .Policy-Redirect:focus {
    text-decoration: none;

  }

  .Policy-Redirect a:hover {
    color: #450092;
  }

  /*CSSTransition */
  @media only screen and (max-width: 1080px) and (min-height:770px) {
    .col-left {
      width: calc(100%/5);
    }

    .col-middle {
      width: calc(100%/(5/3));
    }

    .col-right {
      width: calc(100%/5);
    }

    .hidden-base-64 {
      margin-top: 10rem;
    }
  }

  @media only screen and (max-width: 470px) and (min-height:540px) {
    .hidden-base-64 {
      margin-top: 20rem;
    }
  }

  /*THIS IS SPECIFIC FOR THE DECREASED TEXT SIZE LESS THAN 500PX*/
  @media only screen and (max-width: 500px) {
    @keyframes typewriter {
      from {
        width: 0;
      }

      to {
        width: 22rem;
      }
    }
  }

  @media only screen and (max-width: 321px) {
    @keyframes typewriter {
      from {
        width: 0;
      }

      to {
        width: 15rem;
      }
    }

    .Policy-Redirect a {
      right: 30%;
    }
  }

  @media screen and (max-width:570px) and (max-height:325px) {
    .line-1 {
      transform: translateX(-40%);
    }

    @keyframes typewriter {
      from {
        width: 0;
      }

      to {
        width: 15rem;
      }
    }
  }
}