@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

$buttonWidth: 6rem;
$buttonHeight: 4rem;

.navigation-bar {
    @extend %universal-component-layout;
    font-size: 1.5rem;
    z-index: 99;
    color: #ffffff;
}

div {
    color: #ffffff !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-right: 10%;
    color: #ffffff !important;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 99;
}

.home {
    float: left;
    margin-left: 2rem;
}

.work {
    float: right;
}

li .navigation {
    display: inline-block;
    color: #ffffff !important;
    text-align: center;
    margin-inline-end: 2rem;
    margin-block-start: 2rem;
    mix-blend-mode: difference;
}

li {
    color: #ffffff !important;
}

.about {
    float: right !important;
}

.navigation:hover {
    font-weight: 600;
    cursor: pointer;

}

@media only screen and (max-width: 376px) {
    li .navigation {
        margin-inline-end: 1rem;
        margin-block-start: 2rem;
    }
}

.navigation {
    color: #ffffff;
    text-decoration-color: #ffffff;
}

.more-button {
    z-index: 98;
    background-image: url("../assets/more_btn.svg");
    position: fixed;
    left: 10%;
    bottom: 6%;
    width: $buttonHeight;
    height: $buttonWidth;
    background-repeat: no-repeat;
    background-position: center;
}

.more-button:hover {
    background-image: url('../assets/more_btn_hover.svg');
    cursor: pointer;
}

.back-button {
    background-image: url("../assets/back_btn.svg");
    position: fixed;
    left: 11.5%;
    bottom: 25%;
    width: $buttonWidth;
    height: $buttonHeight;
    background-repeat: no-repeat;
    background-position: center;
}

.back-button:hover {
    background-image: url('../assets/back_btn_hover.svg');
    cursor: pointer;
}

.next-button {
    background-image: url("../assets/next_btn.svg");
    position: fixed;
    right: 11.5%;
    bottom: 25%;
    width: $buttonWidth;
    height: $buttonHeight;
    background-repeat: no-repeat;
    background-position: center;
}

.next-button:hover {
    background-image: url('../assets/next_btn_hover.svg');
    cursor: pointer;
}

.screen-number {
    position: fixed;
    bottom: 5%;
    right: 10%;
    font-size: 0.5rem;
    cursor: none;
}

.glow-button-inner {
    width: 2.5rem;
    height: 6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 10%;
    margin-top: -25%;
    left: 45%;
    margin-left: -25%;
    right: 50%;
    margin-right: -25%;
}

.glow-button-inner-horizontal {
    width: 6rem;
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: absolute;
    top: 50%;
    margin-top: -20%;
    left: 10%;
    margin-left: -20%;
    right: 10%;
    margin-right: -25%;
}

@media only screen and (max-width:400px) {
    li .navigation {
        margin-inline-end: 0.5rem;
        margin-inline-start: 0rem;
        margin-block-start: 2rem;
    }

    .home {
        margin-left: 1rem;
    }

    .navigation-bar {
        font-size: 1rem;
    }

    .about {
        margin-right: 1rem;
    }

    .work {
        margin-right: 0.5rem;
    }

    .screen-number {
        display: none;
    }

}

@media only screen and (max-width: 569px) and (max-height: 321px) {
    .navigation-bar {
        font-size: 1rem;
    }

    .screen-number {
        display: none;
    }
}

@media only screen and (max-height: 750px)and (max-width: 1000px) {
    .screen-number {
        display: none;
    }
}

@media only screen and (max-width: 850px) and (max-height: 450px) {
    .back-button {
        bottom: 30%;
    }

    .next-button {
        bottom: 30%;
    }
}

/*IPHONE 6 */
@media only screen and (max-width: 420px) and (max-height: 800px) {
    .back-button {
        bottom: 12rem;
    }

    .next-button {
        bottom: 12rem;
    }
}

@media only screen and (max-width: 376px) and (max-height: 600px) and (min-width: 300px) and (min-height: 450px) {

    .back-button {
        bottom: 10rem;
    }

    .next-button {
        bottom: 10rem;
    }
}

/*IPHONE 5, SE */
@media only screen and (max-width: 325px) and (max-height: 570px) {
    .back-button {
        bottom: 8rem;
    }
}

@media only screen and (max-width: 570px) and (max-height: 330px) and (min-height: 200px) {
    .back-button {
        bottom: 8rem;
    }
}

/*IPHONE X PORTRAIT */
@media only screen and (max-width: 390px) and (max-height: 825px) and (min-height: 700px) and (min-width: 350px) {
    .back-button {
        bottom: 14rem;
    }

    .next-button {
        bottom: 14rem;
    }
}

/*IPHONE 6,7,8 PLUS*/
@media only screen and (max-width: 420px) and (max-height: 800px) and (min-width: 380px) and (min-height: 650px) {
    .back-button {
        bottom: 13.5rem;
    }

    .next-button {
        bottom: 13.5rem;
    }
}
/*CONVENTIONAL IPHONE 6,7,8 PORTRAIT */
@media only screen and (max-width: 380px) and (max-height:680px) and (min-width: 300px) and (min-height: 580px){
    .back-button, .next-button{
        bottom: 13.5rem;
    }
}
/* KNOWN ISSUE IS THAT SOCAILS BUTTONS DO NOT WORK FOR IPHONE SE/5 IN LANDSCAPE MODE BECAUSE OF SCREEN HEIGHT*/