.policy-content{
    text-align: left;
    width: 60%;
    margin-left: 20%;
}
.h-2-title{
    color: #ffffff;
}
.h-3-title{
    color: #ffffff;
}
.h-4-title{
    color: #ffffff;
}
.ul-title{
    color: #ffffff;
    position: inherit;
}