@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

$scale-size: 30%;
$edge-distance: 5%;
$text-area-width: 28.8125rem;
$text-right: 50%;
$text-top: 20%;
$text-botton: 60%;
$solution-text-right: 50%;
.Resume{
.Resume {
    @extend %universal-component-layout;
}

.row::after {
    clear: both;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.col-header {
    float: left;
    width: 100%;
    text-align: center;
    height: 1rem;
}
.header-icon-col{
    float: left;
    width: 100%;
    text-align: center;
    height: 1rem;
}
.col-icon-left{
    float: left;
    width: calc(100%/3);
    text-align: center;
    height: 1rem;
}
.col-icon-center{
    float: left;
    width: calc(100%/3);
    text-align: center;
    height: 1rem;
}
.col-icon-right{
    float: left;
    width: calc(100%/3);
    text-align: center;
    height: 1rem;
}
.resume-title {
    color: #ffffff !important;
    text-decoration: underline;
    z-index: 70;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    position: absolute;
    display: inline-block;
    top: 2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}



.icon-headers {
    color: #ffffff !important;
    text-decoration: none;
    z-index: 20;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;

}

.skillset {
    position: inherit;
    display: inline-block;
    margin-top: 7rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.design-tools {
    position: inherit;
    display: inline-block;
    margin-top: 7rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.dev-tools {
    position: inherit;
    display: inline-block;
    margin-top: 7rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.skillset-icon {
    background: url("../assets/lightbulb_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    align-self: center;
    height: 8rem;
    width: auto;

}

.design-icon {
    background: url("../assets/web_design.svg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    align-self: center;
    height: 8rem;
    width: auto;
}

.dev-icon {
    background: url("../assets/software_tools.svg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    align-self: center;
    height: 8rem;
    width: auto;
}

.skillset-text {
    margin-top: 1rem;
    width: 12rem;
    height: auto;
    text-align: left;
    font-size: 0.8rem;
}

.design-text {
    margin-top: 1rem;
    width: 12rem;
    height: auto;
    text-align: left;
    font-size: 0.8rem;
}

.dev-text {
    margin-top: 1rem;
    width: 12rem;
    height: auto;
    text-align: left;
    font-size: 0.8rem;
}

.scrollable-resume-col {
    height: auto;
    position: absolute;
    width: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22rem;
    margin-bottom: 4rem;
}

.work-section {
    color: #ffffff !important;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    text-align: left;
    top: 2rem;
    padding-left: 5rem;
    margin-bottom: 0;


}

.projects-section {
    color: #ffffff !important;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    text-align: left;
    padding-left: 5rem;
    top: 2rem;

}

.education-section {
    color: #ffffff !important;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    text-align: left;
    padding-left: 5rem;
    top: 2rem;

}

.section-description {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    margin-left: 5rem;
    margin-right: 5rem;
    width: inherit;
    margin-top: 0;
}

.work-ffs {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5rem;
    margin-right: 1rem;
    width: inherit;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.ffs-text {
    color: #ff3333;
}

.para {
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    color: #ffffff;
}

.work-govt {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5rem;
    margin-right: 1rem;
    width: inherit;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.govt-text {
    color: #ff9933;
}

.proj-free {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5rem;
    width: inherit;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.free-text {
    color: #9933ff;
}

.proj-gangl {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5rem;
    width: inherit;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.gangl-text {
    color: #ffcc33;
}

.edu-systems {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5rem;
    width: inherit;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.systems-text {
    color: #3399ff;
}

.youtube-link:hover {
    text-decoration: underline;
    font-style: bold;
}
@media screen  and (max-width: 1080px ) and (min-width: 880px){
    .dev-icon,.design-icon{
        transform: scale(0.8);
    }
    .skillset-icon{
        transform: scale(0.6);
    }
}
@media screen and (max-width: 800px){
    .resume-title{
        top: 5rem;
    } 
    .icon-headers{
        top: 2rem;
    }

}
@media screen  and (max-width: 880px ) and (min-width: 550px){
    .dev-icon,.design-icon{
        transform: scale(0.6);
    }
    .skillset-icon{
        transform: scale(0.6);
    }
    .skillset-text,.design-text,.dev-text{
        width: inherit;
        margin-left: 0.75rem;
    }
    .scrollable-resume-col{
        width: 100%;
    }
}
@media screen and (max-width: 680px){
    .scrollable-resume-col{
        top: 5rem;
    }    
}
@media screen  and (max-width: 550px ){
    .dev-icon,.design-icon{
        transform: scale(0.6);

    }
    .skillset-icon{
        transform: scale(0.6);
    }
    .skillset-text,.design-text,.dev-text{
        width: inherit;
        margin-left: 0.75rem;
        text-align: center;
    }
    .scrollable-resume-col{
        width: 100%;
    }
}
@media screen and (max-width: 440px) {
.icon-headers{
    top: 4rem;
}    
.scrollable-resume-col{
    top: 9rem;
    width: 100%;
}
}
}