@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

.work-one {
    @extend %universal-component-layout;
}

$scale-size: 30%;
$edge-distance: 5%;
$text-area-width: 28.8125rem;
$text-right: 50%;
$text-top: 20%;
$text-botton: 60%;
$solution-text-right: 50%;

.work-title {
    color: #ffffff !important;
    text-decoration: underline;
    z-index: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    position: fixed;
    display: inline-block;
    top: 2rem;
    right: $text-right;

}
.ff-logo-img{
    padding-top: 0.25rem;
    width: 35rem;
    height: auto;
    position: fixed;
    right: 20%;
    top: $text-top;
}
.the-description-text{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top;
    z-index: 99;
}
.the-role-header{
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top+16;
    z-index: 99;
    padding-bottom: 2%;
}
.the-job-header{
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top+22;
    z-index: 99;
    padding-bottom: 2%;
}