@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

.work-one {
    @extend %universal-component-layout;
}

$scale-size: 30%;
$edge-distance: 5%;
$text-area-width: 28.8125rem;
$text-right: 50%;
$text-top: 20%;
$text-botton: 60%;
$solution-text-right: 50%;

.work-title {
    color: #ffffff !important;
    text-decoration: underline;
    z-index: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    position: fixed;
    display: inline-block;
    top: 2rem;
    right: $text-right;

}
.ff-logo-img{
    padding-top: 0rem;
    width: 35rem;
    height: auto;
    position: fixed;
    right: 20%;
    top: $text-top;
}
.the-description-text{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top;
    z-index: 99;
    margin-right: 0.5rem;
}
.the-role-header{
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top+16;
    z-index: 99;
    padding-bottom: 2%;
}
.the-job-header{
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top+22;
    z-index: 99;
    padding-bottom: 2%;
}
.ff-job-details-button{
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: fixed;
    right: 50%;
    top: $text-top+30.5;
    width: 10rem;
    height: 3rem;
    z-index: 98;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.details-btn-text {
    margin-top: 1rem;
}

.ff-job-details-button:hover{
    border-color: #221563;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.projects-header{
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width - 15;
    right: $text-right+12;
    top: $text-top+45;
    z-index: 99;
    padding-bottom: 2%;
}