@import url("https://use.typekit.net/ucu5nmz.css");
@import './Global.scss';

.work-one {
    @extend %universal-component-layout;
}

$scale-size: 30%;
$edge-distance: 5%;
$text-area-width: 28.8125rem;
$text-right: 50%;
$text-top: 20%;
$text-botton: 60%;
$solution-text-right: 50%;

.work-title {
    color: #ffffff !important;
    text-decoration: underline;
    z-index: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    position: fixed;
    display: inline-block;
    top: 2rem;
    right: $text-right;

}

.ff-logo-img {
    padding-top: 0rem;
    width: 35rem;
    height: auto;
    position: fixed;
    right: 20%;
    top: $text-top;
    opacity: 0;
}

.the-description-text {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top;
    z-index: 99;
    margin-right: 0.5rem;
}

.the-role-header {
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top+16;
    z-index: 99;
    padding-bottom: 2%;
}

.the-job-header {
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width;
    right: $text-right;
    top: $text-top+22;
    z-index: 99;
    padding-bottom: 2%;
}

.ff-job-details-button a {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: fixed;
    right: 50%;
    top: $text-top+30.5;
    width: 10rem;
    height: 3rem;
    z-index: 98;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.details-btn-text {
    margin-top: 1rem;
}

.ff-job-details-button a:hover {
    border-color: #221563;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.projects-header {
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    position: fixed;
    width: $text-area-width - 15;
    right: $text-right+12;
    top: $text-top+45;
    z-index: 99;
    padding-bottom: 2%;
}

.lulu-logo {
    opacity: 0;
}

.kroger-logo {
    opacity: 0;
}

.sphero-logo {
    opacity: 0;
}

.job-title {
    background-color: #ffffff;
    border-radius: 0.25rem;
    border-color: none;
    border-width: 0 0 0 0;
    width: $text-area-width;
    height: 1.5rem;
    animation: title-animation 1s 0.2s;
    animation-fill-mode: forwards;
    position: fixed;
    overflow: hidden;
}

@keyframes title-animation {
    from {
        width: $text-area-width;
    }

    to {
        width: 0%;
    }

}

.ux-content {
    background-color: #ffffff;
    border-radius: 0.25rem;
    border-color: none;
    border-width: 0 0 0 0;
    width: 16%;
    height: 1.5rem;
    animation: para-animation 1s 0.5s;
    animation-fill-mode: forwards;
    position: fixed;
    overflow: hidden;
}

.projects-container {
    position: fixed;
    width: 52%;
    height: 20%;
    bottom: 25%;
    left: 50%;
    margin-bottom: -10%;
    /* Negative half of height. */
    margin-left: -25%;
}

/*DO NOT TOUCH!!!!! UNLESS MAKING CSS RESPONSIVE */
.lulu-logo {
    position: absolute;
    height: auto;
    width: 14rem;
    left: -0.5rem;
    top: 20%;
}

.kroger-logo {
    position: absolute;
    height: auto;
    width: 8rem;
    left: 42.5%;
    top: 0rem;
}

.sphero-logo {
    position: absolute;
    height: auto;
    width: 12rem;
    right: 0rem;
    top: 20%;
}

@keyframes para-animation {
    from {
        width: 16%;
    }

    to {
        width: 0%;
    }
}

/*IPAD PRO 12.9IN */
@media only screen and (max-width: 1040px) and (min-width: 950px) and (min-height: 1000px) {
    .ff-logo-img {
        right: 4rem;
    }

    .the-description-text {
        width: 20rem;
    }

    .the-role-header {
        top: 35rem;
    }

    .the-job-header {
        top: 38rem;
    }

    .projects-header {
        right: 32rem;
    }

    .kroger-logo {
        left: 12rem;
        top: 10rem;
        transform: scale(1.2)
    }

    .lulu-logo {
        top: 21rem;
        transform: scale(1.3);
    }

    .sphero-logo {
        top: 20rem;
        transform: scale(1.2);
    }

    .ff-job-details-button a {
        top: 45rem;
    }
}

/*IPAD PRO LANDSCAPE MODE */
@media only screen and (max-width: 1380px) and (min-width: 1340px) and (max-height:1050px) and (min-height:950px) {
    .the-description-text {
        right: 46rem;
    }

    .the-job-header {
        right: 46rem;
    }

    .the-role-header {
        right: 46rem;
    }
}

/* IPAD 4:3 PORTRATE MODE */
@media only screen and (max-width: 780px) and (min-width: 700px) {
    .work-title {
        right: 20rem;
    }

    .ff-logo-img {
        left: 18rem;
    }

    .the-description-text {
        width: 18rem;
    }

    .the-role-header {
        right: 24.5rem;
    }

    .the-job-header {
        right: 24.5rem;
    }

    .kroger-logo {
        left: 9rem;
        top: 2rem;
        transform: scale(0.9)
    }

    .lulu-logo {
        top: 10.5rem;
        transform: scale(0.9);
    }

    .sphero-logo {
        top: 10rem;
        transform: scale(0.9);
    }
}

/*IPAD 4:3 LANDSCAPE MODE */
@media only screen and (max-width: 1040px) and (min-width: 1000px) and (max-height: 780px) {
    .ff-logo-img {
        right: 0rem;
    }

    .kroger-logo {
        top: 0rem;
        left: 13rem;
        transform: scale(0.9);
    }

    .lulu-logo {
        top: 5.8rem;
    }

    .sphero-logo {
        top: 5rem;
        transform: scale(0.9);
    }

}
/* IPHONE X PORTRATE */
@media only screen and (max-width: 390px) and (max-height: 825px) and (min-height: 750px) and (min-width: 350px){
.work-title{
    left: 9rem;
    top: 3rem;
}
.ff-logo-img{
    transform: scale(0.7);
    top: 4rem;
    right:-6rem;
}
.the-description-text{
    right: 4rem;
    top: 20rem;
    width: 15rem;
}
.the-role-header{
    top: 26rem;
    right: 4.5rem;
}
.the-job-header{
    top: 28rem;
    right: 4.5rem;
    width: 15rem;
}
.ff-job-details-button a{
    transform: scale(0.7);
    top: 24rem;
    left: 2.5rem;
}
.kroger-logo{
    left: 2.2rem;
    top: 5rem;
    transform: scale(0.6);
}
.lulu-logo{
    top: 11rem;
    transform: scale(0.7);
}
.sphero-logo{
    top: 13rem;
    transform: scale(0.7);
}
.projects-header{
    display: none;
}
}
/*IPHONE X LANDSCAPE */
@media only screen and (max-width: 820px) and (max-height: 400px) and (min-height: 290px) and (min-width: 750px){
    .work-title{
        left: 28rem;
    }
    .ff-logo-img{
        transform: scale(0.5);
        right: 0rem;
        top: 1rem;
    }
    .the-description-text{
        width: 18rem;
        right: 24rem;
        top: 5.5em;
    }
    .the-role-header{
        transform: scale(0.8);
        top: 9rem;
        right: 21.6rem;
    }
    .the-job-header{
        transform: scale(0.8);
        top: 10.5rem;
        right: 21.6rem;
    }
    .ff-job-details-button a{
        transform: scale(0.7);
        top: 12rem;
        left: 17.5rem;
    }
    .projects-header{
        display: none;
    }
    .projects-container{
        top: 16rem;
    }
    .kroger-logo{
        transform: scale(0.7);
    }
    .lulu-logo{
        top: 2rem;
        transform: scale(0.8);
        left: -3rem;
    }
    .sphero-logo{
        transform: scale(0.7);
        right: -4rem;
    }
}
/*IPHONE 6,7,8 PLUS PORTRAIT*/
@media only screen and (max-width: 420px) and (max-height: 800px) and (min-width: 380px) and (min-height: 650px) {
    .work-title{
        top: 5rem;
        left: 10rem;
    }
    .ff-logo-img{
        transform: scale(0.7);
        right: -5rem;
        top: 7rem;
    }
    .the-description-text{
        top: 22rem;
        right: 5rem;
        width: 15rem;
    }
    .the-role-header{
        top: 35rem;
        right: 5rem;
    }
    .the-job-header{
        top: 37rem;
        right: 5rem;
        width: 15rem;
    }
    .projects-header{
        display: none;
    }
    .kroger-logo{
        display: none;
    }
    .lulu-logo{
        display: none;
    }
    .sphero-logo{
        display: none;
    }
    .ff-job-details-button a{
        transform: scale(0.7);
        top: 33rem;
        right: 9rem;
    }
}
/*IPHONE 6,7,8 PLUS LANDSCAPE*/
@media only screen and (max-width: 780px) and (max-height: 450px) and (min-width: 700px) and (min-height: 350px) {
    .work-title{
        left: 25rem;
    }
    .ff-logo-img{
        transform: scale(0.6);
        left: 14rem;
        top: 1.5rem;
    }
    .the-description-text{
        right: 21rem;
    }
    .the-role-header{
        right: 21.5rem;
    }
    .the-job-header{
        right: 21.5rem;
    }
    .ff-job-details-button a{
        transform: scale(0.7);
        top: 12.5rem;
        right: 20rem;
    }
    .projects-header{
        display: none;
    }
}